body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-area{
  width: 100%;
  height: 256px;
  overflow: hidden;
  margin-top: 25px;
  border-radius: 15px;
}
.img-area img{
  width: 100%;
  height: 100%;

}

.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #FFD166;
  cursor: pointer;
}
.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
}

.controls{
  margin: 40px 0 5px 0;
}