#myInput {
    margin: 15px 0px;
    padding: 15px 10px;   
  }

 
tr, td {
padding: 12px!important;
border: 1px solid grey!important;
}

#box {
float: left;
}

#add-new-books { 
float: right;
width: 40%;
}