#timetools {    
    height: 100vh;

    //stopwatch styling
    .timetool1 {
        background-color: #FFA167;
        border-radius: 10px;
        margin-bottom: 30px;

        h2 {
            font-size: 30pt;
            padding: 20px 0px;
            text-align: center;
            color: white;
            font-weight: bolder;
        }

        .stopwatchDisplay {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 50pt;
        }

        .buttons{
            position: relative;
            padding: 30 0;
            text-align: center;

            button {
                height: 40px;
                width: 100px;
                background-color: #ffffff;
                color: #FE8942;
                border: none;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 1px 2px 2px #818181;
                outline: none;
                &:hover {
                    background-color: #863A0B;
                }
            }
        }
    }

    //pomodoro styling
    .timetool2 {
        background-color: #EC5658;
        border-radius: 10px;

        h2 {
            font-size: 30pt;
            font-weight: bolder;
            text-align: center;
            padding: 20px 0px;
            color: #ffffff;
        }

        #pomodoro-modes {
            text-align: center;
            margin-bottom: 20px;
            .mode-button {
                font-size: 15px;
                height: 30px;
                cursor: pointer;
                color: #ffffff;
                border: 1px solid transparent;
                border-radius: 4px;
                padding: 0 15px;
                background: none;
            }
              
            .mode-button.active {
                background-color: #BC5753;
            }
        }
        .pomo {
            font-size: 50pt;
            color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #pomo-button {
            position: relative;
            text-align: center;
            #pomoButton{
                height: 40px;
                width: 100px;
                color: #EC5658;
                background-color: #ffffff;
                cursor: pointer;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 2px 2px #818181;
                outline: none;
                margin: 30px 0;
                &:hover {
                    background-color: #860B0B;
                }
            }
        }
    
    }
  
}

// responsive timetools for mobile screens
@media screen and (max-width: 680px) {
    #timetools {

        .timetool1 {
            h2 {
                font-size: 20pt;
                padding: 10px 0px;
            }

            .stopwatchDisplay {
                font-size: 20pt;
            }

            .buttons{
                padding: 20px 0;
                
                button {
                    height: 25px;
                    width: 60px;
                    font-size: 12px;
                }
            }
        }

        .timetool2 {
            h2 {
                font-size: 20pt;
                padding: 10px 0px;
            }

            #pomodoro-modes {
                margin-bottom: 10px;
                .mode-button {
                    font-size: 12px;
                }
                
            }

            .pomo {
                font-size: 25pt;
            }

            #pomo-button {
                #pomoButton {
                    height: 30px;
                    width: 80px;
                    font-size: 12px;
                    margin: 20px 0;
                }
            }
        }
    }
  }