#timetools {    
    height: 100vh;

    //stopwatch styling
    .timetool1 {
        background-color: #FFA167;
        border-radius: 10px;
        margin-bottom: 30px;

        h2 {
            font-size: 30pt;
            padding: 20px 0px;
            text-align: center;
            color: white;
            font-weight: bolder;
        }

        .stopwatchDisplay {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 50pt;
        }

        .buttons{
            position: relative;
            padding: 30 0;
            text-align: center;

            button {
                height: 40px;
                width: 100px;
                background-color: #ffffff;
                color: #FE8942;
                border: none;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 1px 2px 2px #818181;
                outline: none;
                
            }
        }
    
    }

    //pomodoro styling
    .timetool2 {
        background-color: #EC5658;
        border-radius: 10px;

        h2 {
            font-size: 30pt;
            padding: 20px 0px;
            text-align: center;
            color: #ffffff;
            font-weight: bolder;
        }

        #pomodoro-modes {
            text-align: center;
            margin-bottom: 20px;
            .mode-button {
                font-size: 16px;
                height: 28px;
                cursor: pointer;
                box-shadow: none;
                font-weight: 300;
                color: #fff;
                border: 1px solid transparent;
                margin: 0px;
                border-radius: 4px;
                padding: 2px 12px;
                background: none;
              }
              
              .mode-button.active {
                border-color: #fff;
              }
        }

        #pomoDisplay {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 50pt;
        }

        .buttons{
            position: relative;
            padding: 30 0;
            text-align: center;

            button {
                height: 40px;
                width: 100px;
                background-color: #ffffff;
                color: #EC5658;
                border: none;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                border-radius: 5px;
                cursor: pointer;
                box-shadow: 1px 2px 2px #818181;
                outline: none;
                
            }
        }
    
    }
  
}
